.image {
  border-radius: 10px;
  inline-size: 50vmin;
  block-size: 35vmin;
  position: relative;
}

.imageContainer {
  /* height: 30px;
  margin: 0 12px; */
  filter: blur(0.2px);
}

.imageContainers::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #64dfdf, #80ffdb);
  z-index: -1;
  transform: translateY(0%) scale(0.95);
  filter: blur(60px);
  animation: gradient-animation 1s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} ;
